---
title: "Reward"
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full">
            <tr>
              <td class="bg-[#434c55] text-center py-5 px-10 text-xs">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni
                ipsa quos pariatur voluptatum saepe
                <x-button>adipisci dolor et!</x-button>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
